/* Mont SemiBold */
@font-face {
    font-family: 'Mont-SemiBold';
    src: url('../fonts/Mont-SemiBold.eot');
    src: url('../fonts/Mont-SemiBold.ttf');
    src: url('../fonts/Mont-SemiBold.woff');
    src: url('../fonts/Mont-SemiBold.woff2');
    font-weight: 600;
    font-style: normal;
}

/* Mont Light */
@font-face {
    font-family: 'Mont';
    src: url('../fonts/Mont-Light.eot');
    src: url('../fonts/Mont-Light.ttf');
    src: url('../fonts/Mont-Light.woff');
    src: url('../fonts/Mont-Light.woff2');
    font-weight: 300;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    font-family: mont;
    overflow: scroll;
}

.wrapper {
    margin: 0 auto;
    width: 100%;
}

.add-wrapper {
    margin: 0 auto;
    width: 65%;
}

.dark_bg{
    background-color: #111;
}

/* 1: section promo */

.section_promo .header_burger {
    display: none;
}

.section_promo .link {
    color: #fff;
    text-decoration: none;
}

.section_promo .navigation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    position: relative;
    right: 20px;
}

.section_promo .section_a {
    display: grid;
    grid-template-columns: 40% auto;
    padding-top: 100px;
}

.section_promo .section_a .hamburger-menu{
    display: none;
}

.section_promo .section_a .navigation::after {
    content: '';
    background: url(../img/spot.png) no-repeat center center/cover;
    height: 200px;
    width: 150px;
    right: 235px;
    bottom: 30px;
    position: relative;
}

.section_promo .section_a .order {
    display: grid;
    justify-items: end;
}

.section_promo .section_a .order::after {
    content: '';
    height: 2px;
    width: 270px;
    left: 2px;
    position: relative;
    border-bottom: 2px solid #ED8069;
}

.section_promo .section_a .promo-links {
    font-family: Mont;
    font-size: 25px;
    line-height: 1.2;
    font-weight: 300;
}

.section_promo .section_b {
    display: grid;
    grid-template-columns: auto 35%;
}

.section_promo .section_b .description {
    font-family: Mont;
    font-size: 25px;
    line-height: 1.8;
    font-weight: 300;
    position: relative;
}

.section_promo .section_b .greeting {
    font-family: Mont;
    font-size: 60px;
    line-height: 1.2;
    font-weight: 300;
    margin-bottom: 30px;
}

.section_promo .section_b .promo-hand {
    position: relative;
    bottom: 100px;
    left: -50px;
}

.section_promo .section_b .promo-img {
    width: 100%;
    height: auto;
}

.burger-menu {
    display: none;
}

.burger-menu_button {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 30;
    width: 70px;
    height: 70px;
    /* border-radius: 50%; */
    background-color: transparent;;
    transition: .4s;
}

.burger-menu_lines,
.burger-menu_lines::after,
.burger-menu_lines::before {
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #fff;
}

.burger-menu_button:hover .burger-menu_lines {
    filter: brightness(.7);
}

.burger-menu_lines {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.burger-menu_lines::before {
    content: '';
    top: -10px;
}

.burger-menu_lines::after {
    content: '';
    top: 10px;
}

.burger-menu_active .burger-menu_button,
.burger-menu_active .burger-menu_lines {
    background-color: transparent;
}

.burger-menu_active .burger-menu_lines::before {
    top: 0;
    transform: rotate(45deg);
}

.burger-menu_active .burger-menu_lines::after {
    top: 0;
    transform: rotate(-45deg);
}

.burger-menu_nav {
    padding-top: 80px;
    position: fixed;
    z-index: 20;
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
    background-color: #191919;
    overflow-y: auto;
    right: -100%;
    transition: 0.5s;
}

.burger-menu_active .burger-menu_nav {
    right: 0;
}

.burger-menu_link {
    padding: 30px;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;

}

.burger-menu_overlay {
    display: none;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 10;
}

.burger-menu_active .burger-menu_overlay {
    display: block;
}

.burger-menu_link:hover {
    filter: brightness(.7);
}

@media (min-width: 1800px) {
    .section_promo .section_b .description {
        font-size: 25px;
        line-height: 2;
    }
    
    .section_promo .section_b .greeting {
        font-size: 65px;
        line-height: 1.5;
    }

    .section_promo .section_a .promo-links {
        font-family: Mont;
        font-size: 25px;
        line-height: 1.4;
    }

    .section_promo .section_a .order::after {
        content: '';
        height: 2px;
        width: 270px;
        left: 2px;
        position: relative;
        border-bottom: 2px solid #ED8069;
    }
}

@media (max-width: 1700px){
    .section_promo .section_b .description {
        font-size: 22px;
        line-height: 2;
    }
    
    .section_promo .section_b .greeting {
        font-size: 55px;
        line-height: 1.5;
    }

    .section_promo .section_a .promo-links {
        font-family: Mont;
        font-size: 22px;
        line-height: 1.4;
    }

    .section_promo .section_a .order::after {
        width: 240px;
    }
}

@media (max-width: 1550px) {
    .section_promo .section_b .description {
        font-size: 20px;
        line-height: 2;
    }
    
    .section_promo .section_b .greeting {
        font-size: 45px;
        line-height: 1.5;
    }

    .section_promo .section_a .promo-links {
        font-family: Mont;
        font-size: 20px;
        line-height: 1.4;
    }

    .section_promo .section_a .order::after {
        width: 220px;
    }
}

@media (max-width: 1400px) {

    .section_promo .section_a {
        grid-template-columns: 60% auto;
    }

    .section_promo .section_a .order {
        position: relative;
        right: 0px;
    }

    .section_promo .section_b .promo-hand {
        left: 50px;
    }

    .section_promo .section_b .description {
        font-size: 22px;
    }

    .section_promo .section_a .promo-links {
        font-family: Mont;
        font-size: 22px;
        line-height: 1.4;
    }

    .section_promo .section_a .order::after {
        content: '';
        width: 240px;
    }

}

@media (max-width: 1320px) {
    .section_promo .section_b {
        grid-template-columns: auto 30%;
    }
}

@media (max-width: 1255px) {
    .section_promo .section_b .greeting {
        font-size: 45px;
    }

    .section_promo .section_b .description {
        font-size: 23px;
    }

    .section_promo .section_a .promo-links {
        font-size: 23px;
    }

    .section_promo .section_a .order::after {
        content: '';
        width: 250px;
    }

    .section_promo .section_a .navigation::after {
        content: '';
        height: 150px;
        width: 120px;
        right: 200px;
        bottom: 30px;
    }

    .section_promo .section_b .promo-hand {
        left: 20px;
    }

    .add-wrapper {
        margin: 0 auto;
        width: 75%;
    }

}

@media (max-width: 1200px) {
    .add-wrapper {
        margin: 0 auto;
        width: 80%;
    }
}

@media (max-width: 1130px) {
    .section_promo .section_b .description {
        font-size: 20px;
    }

    .section_promo .section_b .greeting {
        font-size: 40px;
    }

    .section_promo .section_a .promo-links {
        font-size: 20px;
    }

    .section_promo .section_a .order::after {
        content: '';
        width: 218px;
    }

    .section_promo .section_a .navigation::after {
        content: '';
        height: 110px;
        width: 70px;
        right: 150px;
        bottom: 20px;
    }

    .section_promo .section_b .promo-hand {
        left: 10px;
        top: -50px;
    }
}

@media (max-width: 1040px) {
    .add-wrapper {
        margin: 0 auto;
        width: 90%;
    }

    .section_promo .section_a .navigation::after {
        content: '';
        background: url(../img/spot.png) no-repeat center center/cover;
        height: 100px;
        width: 70px;
        right: 105px;
        bottom: 10px;
    }
}

@media (max-width: 980px) {
    .section_promo .section_b {
        grid-template-columns: auto 25%;
        padding-bottom: 50px;
    }

    .section_promo .section_a {
        padding-top: 50px;
    }
}

@media (max-width: 915px) {
    .section_promo .section_a .navigation::after {
        content: '';
        height: 70px;
        width: 60px;
        right: 85px;
        bottom: 0px;
    }
    
    .section_promo .section_b .promo-img {
        width: 0;
        height: 0;
    }

    .section_promo .section_b {
        grid-template-columns: 1fr;
        padding-bottom: 50px;
    }
}

@media (max-width: 767px) {
    .section_promo .section_a {
        display: none;
    }

    .burger-menu {
        display: block;
    }

    .section_promo .section_b {
        padding-top: 50px;
    }

    .section_promo .section_b .description {
        font-size: 18px;
    }

    .section_promo .section_b .greeting {
        font-size: 35px;
    }

    .section_promo .section_a .promo-links {
        font-size: 18px;
    }

    .section_promo .section_a .order::after {
        content: '';
        width: 200px;
    }

}

@media (max-width: 660px) {
    .section_promo .section_a .navigation::after {
        content: '';
        height: 70px;
        width: 60px;
        right: 90px;
        bottom: 0px;
    }
}

@media (max-width: 620px) {
    .add-wrapper {
        margin: 0 auto;
        width: 80%;
    }

    .section_promo .section_b .description {
        font-size: 15px;
    }

    .section_promo .section_b .greeting {
        font-size: 30px;
    }

    .section_promo .section_a .promo-links {
        font-size: 15px;
    }

    .section_promo .section_a {
        grid-template-columns: 55% 1fr;
    }

    .section_promo .section_a .order::after {
        content: '';
        width: 165px;
    }

}

@media (max-width: 550px) {
    .section_promo .section_a .navigation::after {
        content: none;
    }

    /* .section_promo .section_b {
        margin-top: 40px;
    } */

    .section_promo .section_b .greeting::before {
        content: '';
        background: url(../img/spot.png) no-repeat center center/cover;
        content: '';
        height: 70px;
        width: 60px;
        right: 85px;
        bottom: 0px;
        position: relative;
    }
}

@media (max-width: 530px) {
}


/* 2: section offers */

.second-wrapper {
    margin: 0 auto;
    width: 65%;
}

.bg {
    background-color: #191919;
}

.section_offers h2 {
    font-family: Mont;
    font-size: 50px;
    line-height: 1.2;
    font-weight: 300;
    color: #fff;
    margin-bottom: 50px;
    padding-top: 50px;
}

.section_offers .section_a {
    position: relative;
    right: 12px;
}

.section_offers .lathing {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 70px;
    grid-gap: 80px;
    grid-column-gap: 180px;
    justify-items: start;
    position: relative;
    left: 20px;
}

.section_offers .lathing .link {
    font-family: Mont-SemiBold;
    font-size: 20px;
    line-height: 40px;
    font-weight: 600;
    color: #fff;
    position: relative;
    right: 16px;
    text-transform: uppercase;
    text-decoration: none;
}

.section_offers .lathing h3 {
    margin-bottom: 35px;
}

.section_offers .lathing li {
    font-family: Mont;
    font-weight: 300;
    text-transform: none;
    line-height: 30px;
    font-size: 18px;
    color: #eee;
}

.section_offers .lathing .identika_link::after {
    content: '';
    background: url(../img/triangle.png) no-repeat center center/cover;
    height: 16px;
    width: 16px;
    bottom: 3px;
    right: -20px;
    position: absolute;
}

.section_offers .lathing .corp_brand_link::after {
    content: '';
    background: url(../img/triangle.png) no-repeat center center/cover;
    height: 16px;
    width: 16px;
    top: 0px;
    right: -25px;
    position: absolute;
}

.section_offers .lathing .packaging_link::after {
    content: '';
    background: url(../img/triangle.png) no-repeat center center/cover;
    height: 16px;
    width: 16px;
    bottom: 3px;
    right: -20px;
    position: absolute;
}

.section_offers .lathing .retail_branding_link::after {
    content: '';
    background: url(../img/triangle.png) no-repeat center center/cover;
    height: 16px;
    width: 16px;
    bottom: 3px;
    right: -25px;
    position: absolute;
}

.section_offers .lathing .development_promo_materials_link::after {
    content: '';
    background: url(../img/triangle.png) no-repeat center center/cover;
    height: 16px;
    width: 16px;
    top: 0px;
    left: 115px;
    position: absolute;
}

.section_offers .lathing .social_media_design_link::after {
    content: '';
    background: url(../img/triangle.png) no-repeat center center/cover;
    height: 16px;
    width: 16px;
    bottom: 3px;
    right: -25px;
    position: absolute;
}

.section_offers .btn_connect {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 70px;
    /* position: relative; */

}

/* .section_offers .btn_connect::before {
    content: '';
    background: url(../img/spot2.png) no-repeat center center/cover;
    height: 250px;
    width: 240px;
    top: -32px;
    right: 640px;
    position: absolute;
    background-position:left bottom;
} */

.section_offers .connection {
    font-family: Mont;
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #191919;
    text-decoration: none;
    padding: 15px 40px;
    border-radius: 50px;
    background-color: #fff;
}

@media (max-width: 1890px) {
    .section_offers .lathing .link {
        font-size: 18px;
    }
}

@media (max-width: 1820px) {
    .section_offers .lathing li {
        font-size: 16px;
    }
}

@media (max-width: 1760px) {
    .section_offers .lathing {
        grid-gap: 80px;
        grid-column-gap: 120px;
    }
}

@media (max-width: 1580px) {
    .section_offers .lathing {
        grid-gap: 50px;
        grid-column-gap: 70px;
    }
}

@media (max-width: 1500px) {
    .section_offers .lathing .link {
        font-size: 15px;
        line-height: 25px;
    }

    .section_offers .lathing li {
        line-height: 25px;
        font-size: 15px;
    }

    .section_offers h2 {
        font-size: 40px;
        line-height: 1.2;
    }

    .section_offers .connection {
        font-size: 20px;
        padding: 12px 35px;
    }

    .section_offers .lathing .social_media_design_link::after {
        height: 12px;
        width: 12px;
        bottom: 2px;
        right: -20px;
    }

    .section_offers .lathing .identika_link::after {
        height: 12px;
        width: 12px;
        bottom: 2px;
        right: -15px;
    }
    
    .section_offers .lathing .corp_brand_link::after {
        height: 12px;
        width: 12px;
        top: 0px;
        right: -20px;
    }
    
    .section_offers .lathing .packaging_link::after {
        height: 12px;
        width: 12px;
        bottom: 3px;
        right: -20px;
    }
    
    .section_offers .lathing .retail_branding_link::after {
        height: 12px;
        width: 12px;
        bottom: 2px;
        right: -20px;
    }
    
    .section_offers .lathing .development_promo_materials_link::after {
        height: 12px;
        width: 12px;
        top: 0px;
        left: 90px;
    }

    .section_offers .lathing h3 {
        margin-bottom: 25px;
    }
}

@media (max-width: 1400px) {
    .section_offers h2 {
        font-size: 35px;
    }
}

@media (max-width: 1312px) {
    .second-wrapper {
        margin: 0 auto;
        width: 75%;
    }
}

@media (max-width: 1200px) {
    .second-wrapper {
        margin: 0 auto;
        width: 80%;
    }

    .section_offers .connection {
        font-size: 22px;
        padding: 10px 30px;
    }
}

@media (max-width: 1040px) {
    .second-wrapper {
        margin: 0 auto;
        width: 90%;
    }

    .section_offers .lathing {
        margin-bottom: 40px;
    }

    .section_offers .btn_connect {
        padding-bottom: 40px;
    }
}

@media (max-width: 920px) {

    .second-wrapper {
        margin: 0 auto;
        width: 70%;
    }

    .section_offers .lathing {
        grid-template-columns: 1fr 1fr;
        margin-bottom: 25px;
        grid-gap: 40px;
        justify-items: start;
    }

    .section_offers .connection {
        font-size: 18px;
        padding: 10px 20px;
    }

    .section_offers .lathing h3 {
        margin-bottom: 15px;
    }
}

@media (max-width: 750px) {

    .section_offers h2 {
        font-size: 30px;
        margin-bottom: 25px;
        padding-top: 30px;
    }

    .second-wrapper {
        margin: 0 auto;
        width: 80%;
    }
}

@media (max-width: 625px) {
    .section_offers h2 {
        font-size: 27px;
        margin-bottom: 20px;
        padding-top: 20px;
    }

    .section_offers .lathing h3 {
        margin-bottom: 20px;
    }
    
    
    .section_offers .lathing li {
        font-weight: 300;
        text-transform: none;
        line-height: 20px;
        font-size: 13px;
        color: #eee;
    }

    .section_offers .lathing .link {
        font-size: 14px;
        line-height: 30px;
    }

    .section_offers .lathing .social_media_design_link::after {
        height: 10px;
        width: 10px;
        bottom: 2px;
        right: -15px;
    }

    .section_offers .lathing .identika_link::after {
        height: 10px;
        width: 10px;
        bottom: 2px;
        right: -15px;
    }
    
    .section_offers .lathing .corp_brand_link::after {
        height: 10px;
        width: 10px;
        top: 0px;
        right: -17px;
    }
    
    .section_offers .lathing .packaging_link::after {
        height: 10px;
        width: 10px;
        bottom: 2px;
        right: -15px;
    }
    
    .section_offers .lathing .retail_branding_link::after {
        height: 10px;
        width: 10px;
        bottom: 2px;
        right: -17px;
    }
    
    .section_offers .lathing .development_promo_materials_link::after {
        height: 10px;
        width: 10px;
        top: 0px;
        left: 85px;
    }

    .section_offers .connection {
        font-size: 14px;
        padding: 10px 20px;
    }
}

@media (max-width: 560px) {
    .second-wrapper {
        margin: 0 auto;
        width: 100%;
    }

    .section_offers .lathing {
        grid-template-columns: 1fr;
        margin-bottom: 25px;
        grid-gap: 20px;
        justify-items: center;
        left: 0px;
    }

    .section_offers h2 {
        font-size: 30px;
        margin-bottom: 22px;
        padding-top: 22px;
        text-align: center;
    }

    .section_offers .lathing h3 {
        margin-bottom: 20px;
    }
    
    
    .section_offers .lathing li {
        line-height: 20px;
        font-size: 15px;
    }

    .section_offers .lathing .link {
        font-size: 18px;
        line-height: 30px;
    }

    .section_offers .lathing .social_media_design_link::after {
        height: 12px;
        width: 12px;
        bottom: 3px;
        right: -20px;
    }

    .section_offers .lathing .identika_link::after {
        height: 12px;
        width: 12px;
        bottom: 3px;
        right: -15px;
    }
    
    .section_offers .lathing .corp_brand_link::after {
        height: 12px;
        width: 12px;
        top: 0px;
        right: -20px;
    }
    
    .section_offers .lathing .packaging_link::after {
        height: 12px;
        width: 12px;
        bottom: 3px;
        right: -15px;
    }
    
    .section_offers .lathing .retail_branding_link::after {
        height: 12px;
        width: 12px;
        bottom: 4px;
        right: -17px;
    }
    
    .section_offers .lathing .development_promo_materials_link::after {
        height: 12px;
        width: 12px;
        top: 1px;
        left: 105px;
    }

    .section_offers .connection {
        font-size: 14px;
        padding: 10px 25px;
    }

    .section_offers .black-section {
        background-color: #000;
        width: 100%;
        position: relative;
        padding: 25px;
    }

    .section_offers .grey-section {
        width: 100%;
        position: relative;
        padding: 20px;
    }

    .section_offers .lathing div h3,
    .section_offers .lathing div li {
        margin-left: 30px;
    }
}

@media (max-width: 330px) {
    .section_offers h2 {
        font-size: 20px;
        margin-bottom: 20px;
        padding-top: 20px;
        text-align: center;
    }

    .section_offers .lathing h3 {
        margin-bottom: 16px;
    }
    
    
    .section_offers .lathing li {
        line-height: 20px;
        font-size: 13px;
    }

    .section_offers .lathing .link {
        font-size: 15px;
        line-height: 25px;
    }

    .section_offers .connection {
        font-size: 14px;
        padding: 7px 22px;
    }

    .section_offers .black-section {
        padding: 15px;
    }

    .section_offers .btn_connect {
        padding-bottom: 30px;
    }

    .section_offers .lathing .development_promo_materials_link::after {
        height: 12px;
        width: 12px;
        top: 0px;
        left: 85px;
    }

    .section_offers .lathing .retail_branding_link::after {
        height: 12px;
        width: 12px;
        bottom: 2px;
        right: -17px;
    }
}

/* 3: common offers */


.third-wrapper {
    margin: 0 auto;
    width: 65%;
}

.common_offers .section_a {
    background-color: #191919;
    display: grid;
    grid-template-columns: 55% 45%;
}

.common_offers .section_b {
    background-color: #191919;
    display: grid;
    grid-template-columns: 45% 55%;
}

.common_offers .container {
    padding-top: 70px;
    padding-bottom: 70px;
}

.common_offers h3 {
    font-family: Mont;
    font-size: 35px;
    line-height: 1.2;
    font-weight: 300;
    color: #f1f1f1;
    margin-bottom: 20px;
    position: relative;
}

.common_offers .section p {
    font-family: Mont;
    font-size: 19px;
    line-height: 1.7;
    font-weight: 300;
    color: #ffffff;
}

.common_offers .section .identika-text {
    line-height: 1.7;
}

.common_offers .section .position {
    padding: 40px 40px;
}

.common_offers .section .identika-position {
    padding-top: 60px;
}

.common_offers .section:not(:last-child){
    margin-bottom: 70px;
}

.common_offers .section .common_offers-img {
    width: 100%;
    /* height: 100%; */
}

.common_offers .retail_branding  {
    position: relative;
}

@media (max-width: 2000px) {
    .common_offers .section p {
        font-size: 17px;
        line-height: 1.7;
    }
}

@media (max-width: 1870px) {
    .common_offers .section p {
        font-size: 17px;
        line-height: 1.5;
    }

    .common_offers .section .position {
        padding: 30px 30px;
    }
}

@media (max-width: 1750px) {
    .common_offers .section p {
        font-size: 17px;
    }
}

@media (max-width: 1730px) {
    .common_offers .section p {
        font-size: 16px;
    }

    .common_offers h3 {
        margin-bottom: 18px;
    }
}

@media (max-width: 1675px) {
    .common_offers h3 {
        font-size: 30px;
    }

    .common_offers .section p {
        font-size: 15px;
        line-height: 1.5;
    }

    .common_offers .section {
        min-height: 250px;
    }
}

@media (max-width: 1500px) {
    .common_offers h3 {
        font-size: 27px;
    }

    .common_offers .section p {
        font-size: 14px;
    }

    .common_offers .section {
        min-height: 237px;
    }
}

@media (max-width: 1380px) {
    .common_offers h3 {
        font-size: 24px;
    }

    .common_offers .section p {
        font-size: 13.5px;
    }

    .common_offers .section {
        min-height: 220px;
    }

    .common_offers .section .position {
        padding: 30px 30px;
    }
}

@media (max-width: 1311px) {
    .third-wrapper {
        margin: 0 auto;
        width: 75%;
    }
}

@media (max-width: 1200px) {
    .third-wrapper {
        margin: 0 auto;
        width: 85%;
    }
}

@media (max-width: 1040px) {
    .third-wrapper {
        margin: 0 auto;
        width: 90%;
    }
}

@media (max-width: 960px) {
    .common_offers .section {
        min-height: 200px;
    }

    .common_offers .section .position {
        padding: 20px 20px;
    }
}

@media (max-width: 920px) {
    .third-wrapper {
        margin: 0 auto;
        width: 55%;
    }

    .common_offers .section:not(:last-child){
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

    .common_offers .section:nth-child(1){
        margin-bottom: 80px;
    }

    .common_offers .section:nth-child(3n+2){
        margin-bottom: 50px;
    }

    .common_offers .section:nth-child(3){
        margin-bottom: 60px;
    }

    .common_offers .section:nth-child(4){
        margin-bottom: 70px;
    }

    .common_offers .section_a {
        background-color: #191919;
        display: grid;
        grid-template-rows: 45% 55%;
        grid-template-columns: none;
        margin-bottom: 20px;
    }

    .common_offers .section_b_card {
        grid-column: 1;
        grid-row: 1;
    }

    .common_offers .section_b_img {
        grid-column: 1;
        grid-row: 2;
    }
    
    .common_offers .section_b {
        background-color: #191919;
        display: grid;
        grid-template-rows: 45% 55%;
        grid-template-columns: none;
        margin-bottom: 20px;
    }
}

@media (max-width: 824px) {
    .third-wrapper {
        margin: 0 auto;
        width: 65%;
    }
}

@media (max-width: 700px) {
    .third-wrapper {
        margin: 0 auto;
        width: 75%;
    }
}

@media (max-width: 600px) {
    .common_offers .container {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .common_offers .section:not(:last-child){
        margin-bottom: 50px;
    }

    .third-wrapper {
        margin: 0 auto;
        width: 80%;
    }

    .common_offers h3 {
        font-size: 20px;
    }

    .common_offers .section p {
        font-size: 12px;
    }

    .common_offers .section {
        min-height: 390px;
    }

    .common_offers .section:not(:last-child){
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

    .common_offers .section:nth-child(1){
        margin-bottom: 40px;
    }

    .common_offers .section:nth-child(3n+2){
        margin-bottom: 25px;
    }

    .common_offers .section:nth-child(3){
        margin-bottom: 30px;
    }

    .common_offers .section:nth-child(4){
        margin-bottom: 35px;
    }
}

@media (max-width: 508px) {
    .third-wrapper {
        margin: 0 auto;
        width: 90%;
    }

    .common_offers .section_b {
        background-color: #191919;
        display: grid;
        grid-template-rows: 45% 55%;
        grid-template-columns: none;
    }

    .common_offers .section_a {
        background-color: #191919;
        display: grid;
        grid-template-rows: 45% 55%;
        grid-template-columns: none;
    }

    .common_offers .section {
        min-height: 390px;
    }
}

@media (max-width: 450px) {
    .third-wrapper {
        margin: 0 auto;
        width: 85%;
    }

    .common_offers .section_b {
        grid-template-rows: 50% 50%;
    }

    .common_offers .section_a {
        grid-template-rows: 50% 50%;
    }

    .common_offers .section {
        min-height: 320px;
    }

    .common_offers h3 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .common_offers .section p {
        font-size: 10px;
    }
}

@media (max-width: 405px) {
    .common_offers .container {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .common_offers .section .position {
        padding: 10px 10px;
    }

    .common_offers .section {
        min-height: 290px;
    }

    .common_offers .section:not(:last-child){
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

    .common_offers .section:nth-child(1){
        margin-bottom: 40px;
    }

    .common_offers .section:nth-child(3n+2){
        margin-bottom: 25px;
    }

    .common_offers .section:nth-child(3){
        margin-bottom: 30px;
    }

    .common_offers .section:nth-child(4){
        margin-bottom: 35px;
    }
}

@media (max-width: 350px) {
    .common_offers .container {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .common_offers .section:not(:last-child){
        margin-bottom: 20px;
    }

    .common_offers h3 {
        font-size: 15px;
        margin-bottom: 10px;
    }
}

/* 4: Calendars */

/* .third-wrapper {
    margin: 0 auto;
    width: 65%;
} */

.calendars .last-wrapper {
    margin: 0 auto;
    width: 70%;
    display: grid;
    grid-template-columns: 40% auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.calendars .season-calendar {
    display: flex;
    justify-content: space-between;
}

.calendars .calendar-examples {
    margin-left: 65px;
    /* min-height: 800px; */
}

.calendars .text {
    font-family: Mont;
    font-size: 40px;
    line-height: 1.2;
    font-weight: 300;
    color: #f1f1f1;
    margin-top: 40px;
}

.calendars .text .second-paragraph{
    margin-top: 50px;
}

.calendars .text .btn_order {
    margin-top: 18%;
}

.calendars .text .ordering {
    text-decoration: none;
    color: #fff;
    padding: 20px 50px;
    font-family: Mont;
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #191919;
    text-decoration: none;
    border-radius: 50px;
    background-color: #fff;
}

.calendars .calendars-img {
    width: 90%;
    height: auto;
}

.calendars .calendars-img:not(:last-child) {
    margin-right: 20px;
}

.calendars .calendars-main-img {
    width: 100%;
    height: auto;
}

/* @media (max-width: 1800px) {
    .calendars .text {
        font-size: 27px;
    }
} */

@media (max-width: 2130px) {
    .calendars .text .btn_order {
        margin-top: 16%;
    }
}

@media (max-width: 2046px) {
    .calendars .text .btn_order {
        margin-top: 13%;
    }
}

@media (max-width: 1950px) {
    .calendars .text .btn_order {
        margin-top: 13%;
    }
}

@media (max-width: 1851px) {
    .calendars .text {
        font-size: 33px;
    }
}

@media (max-width: 1661px) {
    .calendars .text {
        font-size: 29px;
    }
}

@media (max-width: 1481px) {
    .calendars .text {
        font-size: 25px;
    }

    .calendars .text .ordering {
        font-size: 23px;
    }

    .calendars .calendar-examples {
        margin-left: 50px;
    }
}

@media (max-width: 1430px) {
    .calendars .text .btn_order {
        margin-top: 10%;
    }

    .calendars .text .second-paragraph{
        margin-top: 35px;
    }
}

@media (max-width: 1301px) {
    .calendars .text {
        font-size: 22px;
    }

    .calendars .text .ordering {
        font-size: 20px;
    }

    .calendars .calendar-examples {
        margin-left: 40px;
    }
}

@media (max-width: 1250px) {
    .calendars .text {
        margin-top: 40px;
    }

    .calendars .text .btn_order {
        margin-top: 45px;
    }

    .calendars .last-wrapper {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .calendars .text .ordering {
        padding: 15px 35px;
    }
}

@media (max-width: 1161px) {
    .calendars .text {
        margin-top: 35px;
        font-size: 19px;
    }

    .calendars .text .ordering {
        font-size: 18px;
        padding: 12px 28px;
    }

    .calendars .calendar-examples {
        margin-left: 35px;
    }

    .calendars .text .btn_order {
        margin-top: 40px;
    }
}

@media (max-width: 981px) {
    .calendars .text {
        margin-top: 25px;
        font-size: 17px;
    }

    .calendars .text .ordering {
        font-size: 15px;
        padding: 12px 28px;
    }

    .calendars .text .btn_order {
        margin-top: 40px;
    }

    .calendars .calendar-examples {
        margin-left: 30px;
    }
}

@media (max-width: 930px) {
    .calendars .text .btn_order {
        margin-top: 10%;
    }

    .calendars .text .second-paragraph{
        margin-top: 25px;
    }
}

@media (max-width: 850px) {
    .calendars .text {
        margin-top: 20px;
        font-size: 15px;
    }

    .calendars .text .ordering {
        font-size: 12px;
        padding: 10px 25px;
    }

    .calendars .last-wrapper {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

@media (max-width: 765px) {
    .calendars .last-wrapper {
        width: 85%;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .calendars .text {
        margin-top: 30px;
        font-size: 18px;
    }

    .calendars .text .ordering {
        font-size: 18px;
        padding: 10px 25px;
    }

    .calendars .text .btn_order {
        margin-top: 35px;
    }
}

@media (max-width: 730px) {
    .calendars .text {
        margin-top: 20px;
    }

    .calendars .text .btn_order {
        margin-top: 9%;
    }

    .calendars .text .second-paragraph{
        margin-top: 25px;
    }
}

@media (max-width: 670px) {
    .calendars .text .second-paragraph{
        margin-top: 20px;
    }
}

@media (max-width: 650px) {
    .calendars .text {
        margin-top: 27px;
        font-size: 16px;
    }

    .calendars .text .second-paragraph{
        margin-top: 15px;
    }
}

@media (max-width: 576px) {
    .calendars .last-wrapper {
        padding-bottom: 40px;
    }

    .calendars .text .ordering {
        font-size: 13px;
        padding: 13px 28px;
    }

    .calendars .text {
        margin-top: 20px;
        font-size: 16px;
    }

    .calendars .last-wrapper {
        width: 90%;
    }
}

@media (max-width: 550px) {
    .calendars .calendar-examples {
        margin-left: 22px;
    }

    .calendars .text .ordering {
        font-size: 13px;
        padding: 8px 20px;
    }

    .calendars .text .second-paragraph{
        margin-top: 10px;
    }
}

@media (max-width: 540px) {
    .calendars .calendar-examples {
        margin-left: 20px;
    }

    .calendars .calendars-img {
        width: 80%;
        height: auto;
    }

    .calendars .text .btn_order {
        margin-top: 13%;
    }

    .calendars .text .ordering {
        font-size: 13px;
        padding: 10px 20px;
    }

    .calendars .text {
        margin-top: 25px;
        font-size: 14px;
    }

    .calendars .text .second-paragraph{
        margin-top: 15px;
    }
}

@media (max-width: 505px) {
    .calendars .text .second-paragraph{
        margin-top: 10px;
    }
}

@media (max-width: 465px) {
    .calendars .text .ordering {
        font-size: 15px;
        padding: 12px 25px;
    }

    .calendars .text .btn_order {
        text-align: center;
        margin-top: 25px;
    }

    .calendars .last-wrapper {
        margin: 0 auto;
        width: 80%;
        display: block;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .calendars .calendar-examples {
        margin-left: 10px;
        margin-top: 20px;
    }

    .calendars .calendars-img {
        width: 90%;
        height: auto;
    }

    .calendars .main-calendar-wrapper {
        margin: 0 auto;
        width: 90%;
    }

    .calendars .text {
        margin-top: 20px;
        font-size: 22px;
    }
}

@media (max-width: 400px) {
    .calendars .text {
        margin-top: 20px;
        font-size: 17px;
    }

    .calendars .main-calendar-wrapper {
        margin: 0 auto;
        width: 95%;
    }

    .calendars .last-wrapper {
        margin: 0 auto;
        width: 90%;
        display: block;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .calendars .text .ordering {
        font-size: 15px;
        padding: 10px 20px;
    }
}


/* 5: Footer */

.footer .footer-wrapper {
    margin: 0 auto;
    width: 45%;
    padding-top: 70px;
    position: relative;
}

.footer .footer-wrapper::after {
    content: '';
    background: url(../img/spot5.png) no-repeat center center/cover;
    height: 130px;
    width: 60px;
    top: 130px;
    right: -450px;
    position: absolute;
}

.footer .footer-wrapper::before {
    content: '';
    background: url(../img/spot4.png) no-repeat center center/cover;
    height: 230px;
    width: 230px;
    top: 30px;
    left: -450px;
    position: absolute;
}

.footer .contacts {
    text-align: center;
    font-family: Mont;
    font-size: 35px;
    font-weight: 300;
}

.footer .contacts-links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding-bottom: 50px;

}

.footer .contacts-links .links:not(:last-child){
    margin-right: 30px;
}

.footer .contacts-links .contacts-icon {
    width: 90px;
    height: 90px;
}

@media (max-width: 1700px) {
    .footer .footer-wrapper::after {
        top: 110px;
        right: -350px;
    }
}

@media (max-width: 1400px) {
    .footer .contacts-links .links:not(:last-child){
        margin-right: 27px;
    }

    .footer .contacts {
        font-size: 32px;
    }

    .footer .contacts-links .contacts-icon {
        width: 80px;
        height: 80px;
    }

    .footer .footer-wrapper::after {
        top: 110px;
        right: -250px;
    }
}

@media (max-width: 1100px) {
    .footer .contacts-links .links:not(:last-child){
        margin-right: 25px;
    }

    .footer .contacts {
        font-size: 30px;
    }

    .footer .contacts-links .contacts-icon {
        width: 70px;
        height: 70px;
    }

    .footer .footer-wrapper::after {
        top: 110px;
        right: -250px;
    }

    .footer .footer-wrapper::before {
        height: 220px;
        width: 220px;
        top: 30px;
        left: -350px;
    }
}

@media (max-width: 950px) {
    .footer .contacts-links .links:not(:last-child){
        margin-right: 22px;
    }

    .footer .contacts {
        font-size: 25px;
    }

    .footer .contacts-links .contacts-icon {
        width: 60px;
        height: 60px;
    }

    .footer .footer-wrapper::after {
        height: 110px;
        width: 50px;
        top: 70px;
        right: -200px;
    }

    .footer .footer-wrapper::before {
        height: 180px;
        width: 180px;
        top: 10px;
        left: -280px;
    }

    .footer .contacts-links {
        margin-top: 20px;
        padding-bottom: 30px;
    
    }

    .footer .footer-wrapper {
        padding-top: 50px;
    }
}

@media (max-width: 800px) {
    .footer .footer-wrapper::after {
        display: none;
    }

    .footer .footer-wrapper::before {
        display: none;
    }

    .footer .footer-wrapper {
        padding-top: 30px;
    }

    .footer .contacts-links {
        margin-top: 15px;
        padding-bottom: 20px;
    
    }
}

@media (max-width: 700px) {
    .footer .contacts-links .contacts-icon {
        width: 55px;
        height: 55px;
    }

    .footer .contacts {
        font-size: 20px;
    }

    .footer .contacts-links .links:not(:last-child){
        margin-right: 15px;
    }
}

@media (max-width: 550px) {
    .footer .contacts-links .contacts-icon {
        width: 45px;
        height: 45px;
    }

    .footer .contacts-links {
        margin-top: 10px;
        padding-bottom: 10px;
    }

    .footer .footer-wrapper {
        padding-top: 20px;
    }

    .footer .contacts {
        font-size: 18px;
    }

    .footer .contacts-links .links:not(:last-child){
        margin-right: 10px;
    }
}

@media (max-width: 425px) {
    .footer .contacts-links .links:not(:last-child){
        margin-right: 7px;
    }

    .footer .contacts-links .contacts-icon {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 360px) {
    .footer .contacts-links .links:not(:last-child){
        margin-right: 10px;
    }

    .footer .contacts-links .contacts-icon {
        width: 30px;
        height: 30px;
    }

    .footer .contacts {
        font-size: 15px;
    }
}

@media (max-width: 280px) {
    .footer .contacts-links .contacts-icon {
        width: 20px;
        height: 20px;
    }

    .footer .contacts {
        font-size: 12px;
    }

    .footer .contacts-links {
        margin-top: 10px;
        padding-bottom: 10px;
    
    }

    .footer .footer-wrapper {
        margin: 0 auto;
        width: 100%;
        padding-top: 10px;
        position: relative;
    }
}